.app__logo {
  display: block;
  margin: 0 auto 36px;
}

.app__container {
  background-color: var(--white);
  border-top-right-radius: calc(var(--border-radius) * 3);
  border-top-left-radius: calc(var(--border-radius) * 3);
  padding: 24px 36px;
}

@media (min-width: 768px) {
  .app__container {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    gap: 36px;
  }
  .app_bill_info {
    width: 50%;
  }
}